<a href="https://colab.research.google.com/github/jogehl/kas-goes-blockchain/blob/master/lists_and_arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listen

In [10]:
zahlen = [1,2,3,4,5,6,7,8,9,10]
print(zahlen)

namen = ["Cosima", "Joshua"]
print(namen)

print(zahlen[0])
print(zahlen[-1])
print(zahlen[-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Cosima', 'Joshua']
1
[1, 2]
10
9
[4]

In [22]:
zahlen = [1,2,3,4,5,6,7,8,9,10]
namen = ["Cosima", "Joshua"]
print(zahlen)

# Ausschnitt
print(zahlen[:2])
print(zahlen[3:4])
print(namen[0:2])
print("".join(namen[0:2]))

# Länge
print("Länge", len(zahlen))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2]
[4]
['Cosima', 'Joshua']
CosimaJoshua
Länge 10

Aufgabe: 

Ordne die Buchstaben:
a) ```["E", "M", "R", "H", "A", "L", "T", "W"]```

b) ```["Konrad", "Boccia", "spielte", "gerne", "Adenauer"]```

In [32]:
l = []
l_added = l + [1,2,3]

print(l)
print(l_added)

l.append("Ich bin ein Element") # l+= ["Ich bin ein Element"]
print(l)

[]
[1, 2, 3]
['Ich bin ein Element']

Aufgabe:
Lese drei Zahlen ein und Speicher sie in eine Liste. Addiere alle Zahlen in der Liste und gebe das Ergebis aus. !ACHTUNG! Beim Einlesen werden die Zahlen zu Zeichenketten(Strings) umgewandelt. Wende also vor dem Rechnen auf jedes Element der Liste die Funktion double() an.

# Arrays

In [25]:
import numpy as np

# Erstellen eines Arrays
arr = np.array([1,2,3])
print(arr)
print(arr[0])
print(arr[1:3])

[1 2 3]
1
[2 3]

In [38]:
import numpy as np

# List to array conversion
l = ["Cosima", "Joshua"]
arr = np.array(l)
arr2 = np.array(["Ich bin das zweite Array"])


print(arr)
print(type(arr))
print(type(l))

# Verbindung von zwei Arrays(Bei Listen mit +=)
arr_verbunden = np.concatenate((arr, arr2))
print(arr_verbunden)

# Array to list conversion
arr = np.array([1,2,3,4,5])
l = list(arr)
print(arr)
print(type(arr))
print(type(l))

['Cosima' 'Joshua']
<class 'numpy.ndarray'>
<class 'list'>
['Cosima' 'Joshua' 'Ich bin das zweite Array']
[1 2 3 4 5]
<class 'numpy.ndarray'>
<class 'list'>

Aufgaben:

a) lese die Namen deiner Sitznachbarn ein. Und speicher in eine Liste. Konvertiere diese zu einem Array und gebe sie in alphabetischer Reihenfolge aus.